# Test Whether Gpu is working

In [65]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

# Which GPU we are using?

In [66]:
from tensorflow.python.client import device_lib 
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 9629410123525041927, name: "/device:XLA_CPU:0"
 device_type: "XLA_CPU"
 memory_limit: 17179869184
 locality {
 }
 incarnation: 16321898237877667636
 physical_device_desc: "device: XLA_CPU device", name: "/device:XLA_GPU:0"
 device_type: "XLA_GPU"
 memory_limit: 17179869184
 locality {
 }
 incarnation: 1145041145898252098
 physical_device_desc: "device: XLA_GPU device", name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 14640891840
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 8908002677078304174
 physical_device_desc: "device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5"]

# Ram Information

In [67]:
!cat /proc/meminfo

MemTotal:       13333596 kB
MemFree:         8772168 kB
MemAvailable:   11664680 kB
Buffers:           86040 kB
Cached:          2721948 kB
SwapCached:            0 kB
Active:          1419360 kB
Inactive:        2738816 kB
Active(anon):    1080068 kB
Inactive(anon):    10592 kB
Active(file):     339292 kB
Inactive(file):  2728224 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:              1188 kB
Writeback:             0 kB
AnonPages:       1350084 kB
Mapped:           673872 kB
Shmem:             11204 kB
Slab:             179668 kB
SReclaimable:     131616 kB
SUnreclaim:        48052 kB
KernelStack:        4912 kB
PageTables:        10204 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6666796 kB
Committed_AS:    4128108 kB
VmallocTotal:   34359738367 kB
VmallocUsed:           0 kB
VmallocChunk:          0 kB
Percpu:              952 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:      181480 kB
DirectMap2M:     6109184 kB
DirectMap1G:     9437184 kB

# CPU Information

In [68]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2200.000
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa
bogomips	: 4400.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0x1
cpu MHz		: 2200.000
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa
bogomips	: 4400.00
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [69]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [70]:
#!pip install keras

In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [72]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [73]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [74]:
X=df.iloc[:,3:13]

In [75]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [76]:
y=df.iloc[:,13]

In [77]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [78]:
geography=pd.get_dummies(X['Geography'],drop_first=True)

In [79]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [80]:
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [81]:
X.drop(['Gender','Geography'],1,inplace=True)

In [82]:
X=pd.concat([X,geography,gender],1)
X

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
0             619   42       2  ...        0      0     0
1             608   41       1  ...        0      1     0
2             502   42       8  ...        0      0     0
3             699   39       1  ...        0      0     0
4             850   43       2  ...        0      1     0
...           ...  ...     ...  ...      ...    ...   ...
9995          771   39       5  ...        0      0     1
9996          516   35      10  ...        0      0     1
9997          709   36       7  ...        0      0     0
9998          772   42       3  ...        1      0     1
9999          792   28       4  ...        0      0     0

[10000 rows x 11 columns]

In [83]:
from sklearn.model_selection import train_test_split

In [84]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [85]:
from sklearn.preprocessing import StandardScaler

In [86]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [87]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [88]:
X_test

array([[-0.56129438, -0.39401698,  0.9869706 , ...,  1.62776996,
        -0.57427105, -1.11339196],
       [-1.33847768,  0.07611425, -1.08432132, ..., -0.61433742,
        -0.57427105, -1.11339196],
       [ 0.58347561,  0.26416674,  0.9869706 , ..., -0.61433742,
         1.74133801, -1.11339196],
       ...,
       [-0.76084144, -0.29999074, -1.42953664, ..., -0.61433742,
         1.74133801,  0.8981563 ],
       [-0.0046631 , -0.48804323, -0.39389068, ...,  1.62776996,
        -0.57427105,  0.8981563 ],
       [-0.81335383, -0.86414821,  0.9869706 , ...,  1.62776996,
        -0.57427105,  0.8981563 ]])

In [89]:
import keras
from keras.layers import Dense,Dropout
from keras.models import Sequential

In [90]:
classifier=Sequential()
classifier.add(Dense(units=10,activation='relu',kernel_initializer='he_normal',input_dim=11))

In [91]:
classifier.add(Dense(units=6,activation='relu',kernel_initializer='he_normal'))

In [92]:
classifier.add(Dense(units=1,activation='sigmoid',kernel_initializer='glorot_normal'))

In [93]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 10)                120
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 66
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 7
=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________

In [94]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [95]:
model_history=classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 4ms/step - loss: 0.5494 - accuracy: 0.7438 - val_loss: 0.4779 - val_accuracy: 0.7952
Epoch 2/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4625 - accuracy: 0.7985 - val_loss: 0.4497 - val_accuracy: 0.7993
Epoch 3/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4370 - accuracy: 0.8059 - val_loss: 0.4361 - val_accuracy: 0.8050
Epoch 4/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4244 - accuracy: 0.8162 - val_loss: 0.4276 - val_accuracy: 0.8080
Epoch 5/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.8209 - val_loss: 0.4215 - val_accuracy: 0.8160
Epoch 6/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8283 - val_loss: 0.4106 - val_accuracy: 0.8217
Epoch 7/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3905 - accuracy: 0.8386 - val_loss: 0.4000 - val_accuracy: 0.8262
Epoch 8/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3784 - accuracy: 0.8444 - val_loss: 0.3919 - val_accuracy: 0.8323
Epoch 9/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3701 - accuracy: 0.8466 - val_loss: 0.3851 - val_accuracy: 0.8364
Epoch 10/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3643 - accuracy: 0.8502 - val_loss: 0.3810 - val_accuracy: 0.8379
Epoch 11/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3598 - accuracy: 0.8509 - val_loss: 0.3776 - val_accuracy: 0.8417
Epoch 12/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3562 - accuracy: 0.8558 - val_loss: 0.3766 - val_accuracy: 0.8417
Epoch 13/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3524 - accuracy: 0.8580 - val_loss: 0.3760 - val_accuracy: 0.8413
Epoch 14/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3509 - accuracy: 0.8561 - val_loss: 0.3739 - val_accuracy: 0.8429
Epoch 15/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3483 - accuracy: 0.8584 - val_loss: 0.3724 - val_accuracy: 0.8432
Epoch 16/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3459 - accuracy: 0.8586 - val_loss: 0.3719 - val_accuracy: 0.8421
Epoch 17/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3443 - accuracy: 0.8578 - val_loss: 0.3721 - val_accuracy: 0.8413
Epoch 18/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3419 - accuracy: 0.8586 - val_loss: 0.3716 - val_accuracy: 0.8463
Epoch 19/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3410 - accuracy: 0.8599 - val_loss: 0.3709 - val_accuracy: 0.8425
Epoch 20/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3400 - accuracy: 0.8574 - val_loss: 0.3705 - val_accuracy: 0.8444
Epoch 21/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3389 - accuracy: 0.8606 - val_loss: 0.3710 - val_accuracy: 0.8451
Epoch 22/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3383 - accuracy: 0.8591 - val_loss: 0.3697 - val_accuracy: 0.8463
Epoch 23/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3378 - accuracy: 0.8610 - val_loss: 0.3690 - val_accuracy: 0.8470
Epoch 24/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3360 - accuracy: 0.8621 - val_loss: 0.3687 - val_accuracy: 0.8470
Epoch 25/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3361 - accuracy: 0.8615 - val_loss: 0.3671 - val_accuracy: 0.8497
Epoch 26/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3349 - accuracy: 0.8625 - val_loss: 0.3682 - val_accuracy: 0.8455
Epoch 27/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3342 - accuracy: 0.8651 - val_loss: 0.3675 - val_accuracy: 0.8485
Epoch 28/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3343 - accuracy: 0.8634 - val_loss: 0.3685 - val_accuracy: 0.8448
Epoch 29/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3335 - accuracy: 0.8638 - val_loss: 0.3673 - val_accuracy: 0.8459
Epoch 30/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3337 - accuracy: 0.8640 - val_loss: 0.3666 - val_accuracy: 0.8497
Epoch 31/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3325 - accuracy: 0.8636 - val_loss: 0.3680 - val_accuracy: 0.8466
Epoch 32/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3321 - accuracy: 0.8649 - val_loss: 0.3663 - val_accuracy: 0.8516
Epoch 33/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3320 - accuracy: 0.8655 - val_loss: 0.3678 - val_accuracy: 0.8501
Epoch 34/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3319 - accuracy: 0.8655 - val_loss: 0.3692 - val_accuracy: 0.8485
Epoch 35/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3320 - accuracy: 0.8645 - val_loss: 0.3679 - val_accuracy: 0.8512
Epoch 36/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3311 - accuracy: 0.8649 - val_loss: 0.3683 - val_accuracy: 0.8466
Epoch 37/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3307 - accuracy: 0.8645 - val_loss: 0.3668 - val_accuracy: 0.8504
Epoch 38/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3307 - accuracy: 0.8681 - val_loss: 0.3692 - val_accuracy: 0.8497
Epoch 39/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3307 - accuracy: 0.8664 - val_loss: 0.3673 - val_accuracy: 0.8497
Epoch 40/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3300 - accuracy: 0.8653 - val_loss: 0.3677 - val_accuracy: 0.8501
Epoch 41/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3297 - accuracy: 0.8651 - val_loss: 0.3679 - val_accuracy: 0.8497
Epoch 42/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3296 - accuracy: 0.8653 - val_loss: 0.3669 - val_accuracy: 0.8489
Epoch 43/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3296 - accuracy: 0.8662 - val_loss: 0.3669 - val_accuracy: 0.8504
Epoch 44/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3288 - accuracy: 0.8653 - val_loss: 0.3674 - val_accuracy: 0.8497
Epoch 45/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3287 - accuracy: 0.8673 - val_loss: 0.3684 - val_accuracy: 0.8504
Epoch 46/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3286 - accuracy: 0.8655 - val_loss: 0.3659 - val_accuracy: 0.8501
Epoch 47/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3284 - accuracy: 0.8643 - val_loss: 0.3664 - val_accuracy: 0.8478
Epoch 48/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3280 - accuracy: 0.8670 - val_loss: 0.3670 - val_accuracy: 0.8516
Epoch 49/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3276 - accuracy: 0.8664 - val_loss: 0.3683 - val_accuracy: 0.8508
Epoch 50/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3280 - accuracy: 0.8662 - val_loss: 0.3671 - val_accuracy: 0.8482
Epoch 51/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3272 - accuracy: 0.8671 - val_loss: 0.3683 - val_accuracy: 0.8501
Epoch 52/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3272 - accuracy: 0.8670 - val_loss: 0.3681 - val_accuracy: 0.8504
Epoch 53/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3273 - accuracy: 0.8694 - val_loss: 0.3682 - val_accuracy: 0.8504
Epoch 54/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3269 - accuracy: 0.8675 - val_loss: 0.3672 - val_accuracy: 0.8497
Epoch 55/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3267 - accuracy: 0.8658 - val_loss: 0.3671 - val_accuracy: 0.8470
Epoch 56/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3274 - accuracy: 0.8686 - val_loss: 0.3690 - val_accuracy: 0.8489
Epoch 57/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3264 - accuracy: 0.8688 - val_loss: 0.3695 - val_accuracy: 0.8474
Epoch 58/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3263 - accuracy: 0.8666 - val_loss: 0.3684 - val_accuracy: 0.8493
Epoch 59/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3266 - accuracy: 0.8684 - val_loss: 0.3687 - val_accuracy: 0.8470
Epoch 60/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3257 - accuracy: 0.8705 - val_loss: 0.3677 - val_accuracy: 0.8485
Epoch 61/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3253 - accuracy: 0.8675 - val_loss: 0.3684 - val_accuracy: 0.8478
Epoch 62/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3261 - accuracy: 0.8664 - val_loss: 0.3698 - val_accuracy: 0.8485
Epoch 63/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3260 - accuracy: 0.8694 - val_loss: 0.3689 - val_accuracy: 0.8474
Epoch 64/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3257 - accuracy: 0.8696 - val_loss: 0.3683 - val_accuracy: 0.8485
Epoch 65/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3253 - accuracy: 0.8688 - val_loss: 0.3717 - val_accuracy: 0.8436
Epoch 66/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3257 - accuracy: 0.8673 - val_loss: 0.3685 - val_accuracy: 0.8474
Epoch 67/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3255 - accuracy: 0.8673 - val_loss: 0.3715 - val_accuracy: 0.8444
Epoch 68/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3253 - accuracy: 0.8677 - val_loss: 0.3679 - val_accuracy: 0.8497
Epoch 69/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3249 - accuracy: 0.8692 - val_loss: 0.3691 - val_accuracy: 0.8478
Epoch 70/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3251 - accuracy: 0.8668 - val_loss: 0.3695 - val_accuracy: 0.8482
Epoch 71/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3252 - accuracy: 0.8707 - val_loss: 0.3691 - val_accuracy: 0.8501
Epoch 72/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3241 - accuracy: 0.8692 - val_loss: 0.3705 - val_accuracy: 0.8463
Epoch 73/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3250 - accuracy: 0.8673 - val_loss: 0.3702 - val_accuracy: 0.8501
Epoch 74/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3249 - accuracy: 0.8705 - val_loss: 0.3698 - val_accuracy: 0.8508
Epoch 75/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3242 - accuracy: 0.8694 - val_loss: 0.3691 - val_accuracy: 0.8504
Epoch 76/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3238 - accuracy: 0.8683 - val_loss: 0.3718 - val_accuracy: 0.8451
Epoch 77/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3243 - accuracy: 0.8686 - val_loss: 0.3695 - val_accuracy: 0.8519
Epoch 78/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3244 - accuracy: 0.8686 - val_loss: 0.3706 - val_accuracy: 0.8497
Epoch 79/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3238 - accuracy: 0.8690 - val_loss: 0.3722 - val_accuracy: 0.8470
Epoch 80/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3239 - accuracy: 0.8673 - val_loss: 0.3701 - val_accuracy: 0.8493
Epoch 81/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3237 - accuracy: 0.8696 - val_loss: 0.3705 - val_accuracy: 0.8489
Epoch 82/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3239 - accuracy: 0.8690 - val_loss: 0.3698 - val_accuracy: 0.8474
Epoch 83/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3238 - accuracy: 0.8686 - val_loss: 0.3707 - val_accuracy: 0.8474
Epoch 84/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3237 - accuracy: 0.8668 - val_loss: 0.3707 - val_accuracy: 0.8482
Epoch 85/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3233 - accuracy: 0.8662 - val_loss: 0.3707 - val_accuracy: 0.8482
Epoch 86/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3233 - accuracy: 0.8696 - val_loss: 0.3704 - val_accuracy: 0.8504
Epoch 87/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3233 - accuracy: 0.8686 - val_loss: 0.3707 - val_accuracy: 0.8478
Epoch 88/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3235 - accuracy: 0.8683 - val_loss: 0.3694 - val_accuracy: 0.8497
Epoch 89/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3228 - accuracy: 0.8692 - val_loss: 0.3707 - val_accuracy: 0.8466
Epoch 90/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3223 - accuracy: 0.8688 - val_loss: 0.3706 - val_accuracy: 0.8478
Epoch 91/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3223 - accuracy: 0.8675 - val_loss: 0.3705 - val_accuracy: 0.8485
Epoch 92/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3225 - accuracy: 0.8699 - val_loss: 0.3735 - val_accuracy: 0.8478
Epoch 93/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3223 - accuracy: 0.8679 - val_loss: 0.3697 - val_accuracy: 0.8466
Epoch 94/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3220 - accuracy: 0.8686 - val_loss: 0.3694 - val_accuracy: 0.8470
Epoch 95/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3221 - accuracy: 0.8681 - val_loss: 0.3701 - val_accuracy: 0.8451
Epoch 96/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3219 - accuracy: 0.8696 - val_loss: 0.3702 - val_accuracy: 0.8474
Epoch 97/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3217 - accuracy: 0.8701 - val_loss: 0.3704 - val_accuracy: 0.8444
Epoch 98/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3213 - accuracy: 0.8694 - val_loss: 0.3715 - val_accuracy: 0.8429
Epoch 99/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3216 - accuracy: 0.8705 - val_loss: 0.3712 - val_accuracy: 0.8466
Epoch 100/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3211 - accuracy: 0.8688 - val_loss: 0.3710 - val_accuracy: 0.8470

In [96]:
y_pred=classifier.predict(X_test)

In [104]:
y_pred=y_pred>0.5

In [105]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [106]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [107]:
confusion_matrix(y_pred,y_test)

array([[1517,  218],
       [  78,  187]])

In [108]:
accuracy_score(y_pred,y_test)

0.852